.img-gif {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .container {
    padding-top: 15px;
} */

.media-row {
    background-color: #22343E;
}

.message-row {
    /* border-top-left-radius: 5px; */
    background-color: whitesmoke;
    padding-top: 15px;
    height: 100%;
}

.button-row {
    position: fixed;
    bottom: 0;

}

.top-header {
    background-color: #22343E;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.button-yes {
    background-color: #22343E;    
    color: white;
}

.button-yes:hover{
    background-color: rgb(45, 71, 85);    
    color: white;
}

.button-no {
    background-color: #e7e7e7; 
    color: #22343E;
}

.button-no:hover{
    background-color: #f7f7f7; 
    color: #22343E;
}

.button {
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

h5 {
    color: #22343E;
}

p{
    color: #22343E;
}

body {
    overflow-x: hidden;
    background-color: whitesmoke;
}
