/*-------------------------
	Inline help tip
--------------------------*/

.short-text{
	display: inline;
}

.help-tip{
	/* position: absolute; */
	/* top: 18px; */
	/* right: 18px; */
	text-align: center;
	background-color: #09a38c;
	border-radius: 50%;
	width: 14px; 
	height: 14px;
	font-size: 10px;
	line-height: 15px;
	cursor: default;
	display: inline-block;
	/* float: right; */
}

.help-tip:before{
	content:'?';
	font-weight: bold;
	color:#fff;
}

.help-tip:hover p{
	display: block;
	transform-origin: 100% 0%;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #1E2021;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: -90px; /* positie 6 goed */
	color: #FFF;
	font-size: 13px;
	line-height: 1.4;
	width: 200px;
	white-space: normal;
	z-index: 1000;
}

.help-tip p:after{
	width:100%;
	height:40px;
	content:'';
	position: absolute;
	top:-40px;
	left:0;
}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}
